<!DOCTYPE html>
<html lang="en" ng-app="dashboardModulo">
  <head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gastos - Reembolso</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <!-- Your custom styles (optional) -->
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- AngularJS -->
	  <script type="text/javascript" src="js/angular.min.js"></script>
  </head>

  <body ng-controller="dashboardController">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a class="brand-logo">Gastos</a>
            <a href="#reembolso" class="sidenav-trigger" data-target="slide-out" ng-click="showSideNav()"><img src="images/menu.svg"></a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="grafico-area">
          <p class="titulo-gastos">Gastos por categoria</p>
          <canvas id="myChart"></canvas>
        </div>
        <div class="gastos-area">
          <p class="titulo-gastos">Gastos por usuário</p>
          <!--Table-->
          <table class="table">
              <thead>
                <tr>
                  <th>Usuário</th>
                  <th>Valor</th>
                  <th>E-mail</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="gastos in gastosTotalUsuario">
                  <td>{{gastos.usuario}}</td>
                  <td>{{gastos.valor}}</td>
                  <td>{{gastos.email}}</td>
                </tr>
              </tbody>
            </table>
            <!--Table-->
        </div>
      </div>
    </main> 

    <!-- Sidenav Structure -->
    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <a class="reembolso-perfil">Reembolso</a>
        <a class="nome-perfil name">{{perfilLogado.nome}}</a>
        <a class="email-perfil email">{{perfilLogado.email}}</a>
      </div></li>
      <li><a href="#"><img src="images/historico-solicitacoes.svg" class="sidenav-icons">Histórico e Solicitações</a></li>
      <li><a href="#"><img src="images/dashboard.svg" class="sidenav-icons">Dashboard de Gastos</a></li>
      <li><a href="#"><img src="images/perfil.svg" class="sidenav-icons">Perfil</a></li>
      <li><a href="#"><img src="images/sair.svg" class="sidenav-icons">Sair</a></li>
    </ul>

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- JQuery Mask Money -->
    <script type="text/javascript" src="js/jquery.maskMoney.min.js" charset="utf-8"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Chart -->
    <script type="text/javascript" src="js/Chart.js"></script>
    <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ["Mai/18", "Jun/18", "Jul/18", "Ago/18", "Set/18", "Out/18", "Nov/18", "Dez/18", "Jan/19"],
              datasets: [{
                  label: 'Hospedagem',
                  data: [126, 191, 152, 260, 390],
                  backgroundColor: [
                      'rgba(38, 135, 233, 0.2)'
                  ],
                  borderColor: [
                      'rgba(38, 135, 233,1)'
                  ],
                  borderWidth: 3,
                  fill: false,
                  lineTension: 0
              },
              {
                  label: 'Transporte',
                  data: [156, 185, 120, 160, 157],
                  backgroundColor: [
                      'rgba(255, 0, 255, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 0, 255,1)'
                  ],
                  borderWidth: 3,
                  fill: false,
                  lineTension: 0
              },
              {
                  label: 'Alimentação',
                  data: [132, 122.36, 269, 410, 201],
                  backgroundColor: [
                      'rgba(255, 125, 0, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 125, 0, 1)'
                  ],
                  borderWidth: 3,
                  fill: false,
                  lineTension: 0
              },
              {
                  label: 'Outros',
                  data: [169, 258, 360, 198, 340],
                  backgroundColor: [
                      'rgba(0, 255, 0, 0.2)'
                  ],
                  borderColor: [
                      'rgba(0, 255, 0, 1)'
                  ],
                  borderWidth: 3,
                  fill: false,
                  lineTension: 0
              }]

          },
          options: {
            responsive: true,
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                    beginAtZero:true,
                    callback: function(value, index, values) {
                      return 'R$ ' + value;
                    }
                }
              }]
            }
          }
      });
    </script>
    <!-- AngularJS -->
    <script type="text/javascript" src="controller/dashboard.js"></script>
  </body>
</html>