<!DOCTYPE html>
<html lang="en" ng-app="dashboardModulo">
  <head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Perfil - Reembolso</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <!-- Your custom styles (optional) -->
    <link href="css/style-dashboard.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- AngularJS -->
	  <script type="text/javascript" src="js/angular.min.js"></script>
  </head>

  <body ng-controller="dashboardController">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a class="brand-logo">Perfil</a>
            <a href="#" data-activates="slide-out" class="menu-button"><img src="images/menu.svg"></a>
          </div>
        </nav>
      </div>
    </header>

    <!-- Sidenav Structure -->
    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <a class="reembolso-perfil">Reembolso</a>
        <a class="nome-perfil name">{{perfilLogado.nome}}</a>
        <a class="email-perfil email">{{perfilLogado.email}}</a>
      </div></li>
      <li><a href="#"><img src="images/historico-solicitacoes.svg" class="sidenav-icons">Histórico e Solicitações</a></li>
      <li><a href="#"><img src="images/dashboard.svg" class="sidenav-icons">Dashboard de Gastos</a></li>
      <li><a href="#"><img src="images/perfil.svg" class="sidenav-icons">Perfil</a></li>
      <li><a href="#"><img src="images/sair.svg" class="sidenav-icons">Sair</a></li>
    </ul>

    <main>
      <div class="container">
        <div class="div-user-table col-md-4 offset-md-4">
          <form class="form-redefinir">
            <div class="md-form">
              <div class="input-field col s12">
                <input id="nome" type="text" required autofocus>
                <label for="nome">Nome</label>
              </div>
            </div>
            <div class="md-form">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" x-webkit-speech required>
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="md-form">
              <div class="button-redefinir col s12">
                <a class="btn modal-trigger" href="#redefinirModal">REDEFINIR SENHA</a>
              </div>
            </div>          
          </form>
          <div class="right-align atualizar-group">
            <p><a href="#" class="atualizar-button" ng-click="atualizarPerfil()">ATUALIZAR</a></p>
          </div>
        </div>      
      </div>
    </main> 

    <!-- Modal Structure -->
    <div class="modal fade" id="redefinirModal">
      <div class="modal-content">
        <div class="row">
          <h4 class="col s12">Redefinir senha</h4>
          <p class="col s12">Informe o email cadastrado para ser enviado o link:</p>  
          <form name="redefinirForm" id="formulario">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" ng-model="redefinir.email" ng-required="true" autofocus>
              <label for="email">E-mail</label>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn modal-action modal-close" ng-disabled="redefinirForm.$invalid">Enviar</button>
        <button class="btn cancelar-button modal-action modal-close">Cancelar</button>
      </div>
    </div>

    <!-- JQuery Mask Money -->
    <script type="text/javascript" src="js/jquery.maskMoney.min.js" charset="utf-8"></script>
    <!-- Materialize -->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="controller/dashboard.js"></script>
  </body>
</html>